<p id="notice"><%= notice %></p>

<p>
<h2>Clique name:</h2>
  <%= @group.name %>
<%= link_to 'Edit', edit_group_path(@group), :class => 'button primary icon edit' %>
<%= link_to 'Delete group', @group, :confirm => 'Are you sure?', :method => :delete, :class => 'button primary danger icon remove' %>

</p>

<!--  
<p><b>Invitation link:</b>  <%= link_to join_group_url(@group), join_group_path(@group) %> <i>Share this URL to invite people to join your clique</i>
</p> -->

</br>

<h3>Verified members</h3>
<% @group.users.each do |user| %>
  Name: <%= user.name %></br>
  Details:
  <% user.user_data.each do |user_data| %>
    <%= user_data.name %> <%= user_data.data_type.name %>: <%= user_data.value %>
    <br>
   <% end %>
   </br>
   </br>
<% end %>

<p>

</br>

<h3>Unverified members</h3>
<% @group.offline_users.each do |user| %>
  <%= user.name %>
  <% user.offline_user_data.each do |user_data| %>
    (<%= user_data.value %>)
    <br>
  <% end %>

   </br>
   </br>
<% end %>

<p>

<%= link_to 'Invite more people', invite_group_path(@group), :class => 'button primary icon edit' %>
