<div class="side-box">Placeholder</div>
<div class="main-box">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 <%= devise_error_messages! %>

  <div>
	  <%= f.label :name %><br />
	  <%= f.text_field :name, :value => @user.name or params[:name] %>
  </div>

  
  <div>
  <%= f.label :email %><br />
  <% if params[:email].nil? or params[:email].empty? %> 
	  <%= f.email_field :email %></div>
	<% else %>
	  <%= f.hidden_field :email, :value => params[:email],  %>
	  </div>
	  <p><b><%= params[:email] %></b></p></br>
  <% end %>

  <% if @user.password_required? %>
    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
