<div class="centerAligned">

    <h1>Your Cliques</h1>

    <br/>
    <div class="outerDiv">
      <div class="innerDiv">
        <table>
          <tr>
            <th >Name</th>
            <th>Owner</th>
            <th>Color</th>
          </tr>

          <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <% if group.owner == current_user %>
              <td>Yes</td>
            <% else %>
              <td>Yes</td>
            <% end %>  

            <td><%= group.color %></td>
            <td><%= link_to 'Show', group_path(group) %></td>
 
              <td><%= link_to 'Edit', edit_group_path(group)'%></td>
            <% if group.owner == current_user %>
              <td><%= link_to 'Delete group', group, :confirm => 'Are you sure?', :method => :delete %></td>
            <% end %>
          </tr>
          <% end %>
          </table>

      <br />
    </div>
    <%= link_to 'New Group', new_group_path %>
</div>