<h1>Invite members</h1>

<%= render 'invite_form' %>

<% if (@group.offline_users.count + @group.users.count) > 1 %>
  <h3>Invited members:</h3> 
  <% @group.offline_users.each do |offline_user| %>
    <%= offline_user.name %> (<%= offline_user.email %>) </br>
  <% end %>
  <% @group.users.each do |user| %>
    <% if user != current_user %>
      <%= user.name %> (<%= user.email %>) </br>
    <% end %>
  <% end %>
<% end %>
</br>
