<!DOCTYPE html>
<html>
<head>
  <title>Welcome to InClique - You are using the private layout</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'formtastic' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="grandParent">
        <div id="parent">
            <div id="header">
				<div id="top_header">
					<span>
						<% if user_signed_in? %>
							Signed in as <b> <%= current_user.email %></b>. Not you?
						<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
						<% end %>
					</span>
				</div>
				<div id="CompanyLogo">
					
				</div>
			</div>
            <div id="main-screen">
				<% if user_signed_in? %>
					<div id="left_panel">
						<ul>
							<li>
								<%= link_to "Home", welcomes_path %>
							</li>
							<li>
								<%= link_to "Cliques List", groups_path %>
							</li>
							<li>
								<%= link_to "Create a Clique", new_group_path %>
							</li>
							<li>
								<%= link_to "User profile", user_data_path %>
							</li>
							<li>
								<%= link_to "Change password", edit_user_registration_path %>
							</li>
						</ul>
					</div>
				<% end %>
				<div class="right_spacer"></div>
				<div id="right_panel">	
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
					<%= yield %>

				</div>
			</div>
			<div class="clear_both">
			</div>
			<div id="bottom_panel">
				Copy Rights 2011. All Rights Reserved
			</div>
		</div>
	</div>
</body>
</html>
