<h2>Profile of <%= current_user.name %> </h2>
<%= link_to "Change password", edit_user_registration_path %>


<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>Your account is connected to these social networks:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => "Are you sure you want to remove your #{authentication.provider} connection?", :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
<% end %>

<br>

<% @data_types.each do |data_type|  %>

  <% if data_type.name == 'Name'
    next
   end %>

  <% if not @user_data.where(:data_type_id => data_type.id).empty? %>
	<br><h2><%= data_type.name %></h2>
  
		<table class="editUserProfile">
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Verified</th>
			</tr>
			<% i = 0 %>
			<% @user_data.where(:data_type_id => data_type.id).each do |user_datum| %>

			<tr 
			<% if i%2==1 %>
				class = "odd"
			<% end %>
			>
				<td><%= user_datum.name %></td>
				<td><%= user_datum.value %></td>
				<td><%= user_datum.verified %></td>
				<% if not user_datum.verified %>
				<td><%= link_to 'Edit', edit_user_datum_path(user_datum) %></td>
				<% end %>
				<td><%= link_to 'Delete', user_datum, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
			<% i = i+1 %>
			<% end %>
		</table>
		<br>
  <% end %>

<% end %>

<p>Add a new 
<% @data_types.each do |data_type|  %>
  <u><%= link_to "#{data_type.name}", new_user_datum_path(:type => data_type.name) %></u>, 
<% end %>

or connect to your social networks:</p>
<br>
<a href="/auth/viadeo" class="auth_provider">
  <%= image_tag "viadeo_64.png", :size => "64x64", :alt => "Viadeo" %>
  Viadeo
</a>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>

<%#<a href="/auth/facebook" class="auth_provider">%>
  <%#<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  <%#Facebook%>
<%#</a>%>
<%#<a href="/auth/google_apps" class="auth_provider">%>
  <%#<%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  <%#Google%>
<%#</a>%>
<%#<a href="/auth/open_id" class="auth_provider">%>
  <%#<%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %>
  <%#OpenID%>
<%#</a>%>

