<h2><%= @user_datum_name.data_type.name %></h2>
<%= @user_datum_name.value %><%= link_to 'Edit', edit_user_datum_path(@user_datum_name) %>

<br>
  <br>
<% @data_types.each do |data_type|  %>

  <% if data_type.name == 'Name' 
    next 
   end %>
  <h2><%= data_type.name %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Verified</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @user_data.each do |user_datum| %>

    <% if user_datum.data_type != data_type 
          next 
       end %>
    <tr>
      <td><%= user_datum.name %></td>
      <td><%= user_datum.value %></td>
      <td><%= user_datum.verified %></td>
      <td><%= link_to 'Edit', edit_user_datum_path(user_datum) %></td>
      <td><%= link_to 'Delete', user_datum, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <%= link_to "Add #{data_type.name} account", new_user_datum_path(:type => data_type.name) %>
  <br>
  <br>

<% end %>

