<!DOCTYPE HTML>
<html>
	<head>
		<title>inCliques</title>
		<%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag 'formtastic' %>
		<!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
		<!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<!-- Start of body -->
	<body>
		<!-- Start of top bar -->
		<div id="top-bar">
			<div id="user-info">
				<br /><br />
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			</div>
		</div>
		
		<!-- Start of container -->
		<div id="container">
		
			<!-- Start of header -->
			<header>
				<div id="header">
					<div id="logo"><img src="../images/logo.png" alt="inCliques" id="incliques" /></div>
					<div id="navigation">
						Navigation would go here, etc
					</div>
				</div>
			</header>
			<div id="content-container" class="clearfix">
				<!-- Start of content -->
				<section>
					

					<div class="wide-box"><h2>Sub Title</h2>
					<%= yield %>
					</div>

				</section>
				
				<!-- Start of footer -->
				<footer>
					<div class="wide-box margin-10">
					This is supposed to be a footer
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>